name: Deploy Node Game Server to OCI

on:
  push:
    branches: ["develop"]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to OCIR
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.OCI_REGISTRY }}
          username: ${{ secrets.OCI_USERNAME }}
          password: ${{ secrets.OCI_AUTH_TOKEN }}
      - name: Build and Push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          platforms: linux/arm64
          tags: ${{ secrets.OCI_REGISTRY }}/axslwmgnmqcx/findtheoctopus-node:dev

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.OCI_HOST }}
          username: ubuntu
          key: ${{ secrets.OCI_KEY }}
          script: |
            echo ${{ secrets.OCI_AUTH_TOKEN }} | docker login ${{ secrets.OCI_REGISTRY }} -u ${{ secrets.OCI_USERNAME }} --password-stdin
            docker pull ${{ secrets.OCI_REGISTRY }}/axslwmgnmqcx/findtheoctopus-node:dev
            docker stop octopus-node || true
            docker rm octopus-node || true

            # 8081 포트로 실행하며 백엔드 주소 전달
            docker run -d --name octopus-node -p 3000:3000 \
              --platform linux/arm64 \
              -e BACKEND_URL=http://161.33.40.189:8080 \
              -e PORT=3000 \
              ${{ secrets.OCI_REGISTRY }}/axslwmgnmqcx/findtheoctopus-node:dev
